/** 1.0 Menu */
nav#slide-menu {
  position: fixed;
  top: 0;
  left: -100px;
  bottom: 0;
  display: none;
  z-index: 99999;
  float: left;
  width: 100%;
  max-width: 284px;
  height: 100%;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
nav#slide-menu > .links {
  display: block;
  margin: 45px;
  padding: 0;
  opacity: 0.5;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
nav#slide-menu > .links li a{
  color: #dfe5eb;
  margin-top: 1rem;
  display: inline-block;
  font-size: .9rem;
  text-decoration: none;
}
.menu-active nav#slide-menu {
  left: 0px;
}
.menu-active nav#slide-menu ul {
  left: 0px;
  opacity: 1;
}
.menu-active nav#slide-menu{
  display: block;
  background-color: var(--colorPrimary);
  border-start-end-radius: 2rem;
  border-end-end-radius: 2rem;
}
div#content div.menu-trigger {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9999999;
  width: 36px;
  text-align: center;
  line-height: 36px;
  height: 36px;
  background: #dfe5eb;
  cursor: pointer;
  border-radius: 5px;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
nav#slide-menu > .links li:nth-of-type(5) a{
  border: 1px solid #FFF;
  padding: 0.6rem 3rem;
  font-weight: bolder;
  border-radius: .3rem;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
}
nav#slide-menu > .links li:last-of-type a{
  background-color: #FFF;
  padding: 0.6rem 3rem;
  font-weight: bolder;
  color: var(--colorPrimary) !important;
}
div#content div.menu-trigger:hover {
  background: #556270;
}
div#content div.menu-trigger:hover i {
  color: #fcfeff;
}